body{
    /* background-color: rgb(231, 231, 243); */
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    overflow: scroll;
}

a{
    text-decoration: none;
    color: black;
    font-size: 27px;
    color: #5f6368;
}

nav{
  
    width: 100%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    display: flex;
    gap: 70px;
    align-items: center;
    justify-content: center;
    position: fixed;
    margin: 0px;

}

nav > ul{
    display: flex;
    list-style: none;
    gap: 40px;
}

nav > img{
    width: 60px;
    height: 60px;
    /* background-color: black; */
}

nav > a > .search{
    width: 50px;
    height: 50px;
}

nav > a > .lock{
    width: 45px;
    height: 45px;
}

/* hero section */

.hero-section{

    width: 100%;
    background-image: url(./assets/images/iphone/large.jpg);
    height: 100%;
    margin-top: 70px;
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */

}


.head{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 350px;
    
}

.head > h1 , p{
    color: black;
    margin: 0px;
}

.head > .p{
    color: white;

}

.head > h1 , p , .btttn{
    margin-top: 20px;
}

.head > h1{
    font-size: 65px;
}
.head > p{
    font-size: 35px;
}

.btttn > button{
    background-color: rgb(50, 129, 219);
    color: white;
    padding: 10px 30px;
    border-radius: 25px;
    font-size: 30px;
    margin-left: 10px;
    border: none;
}

/* iphone 17 pro section */

.iphone-section{
    width: 100%;
    height: 70%;
    background-image: url(./assets/images/iphone/hero_iphone_17_prolarge.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 30px;
}

.ichild{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.ichild > h1 , p{
    color: white;
    margin: 0px;
}

.ichild > .p1{
    color: white;

}

.ichild > h1 , p , .btn{
    margin-top: 20px;
}

.ichild > h1{
    font-size: 70px;
}
.ichild > p{
    font-size: 50px;
}

.btn > button{
    background-color: rgb(50, 129, 219);
    color: white;
    padding: 10px 30px;
    border-radius: 25px;
    font-size: 30px;
    margin-left: 10px;
    border: none;
}

.btn > .btn2{
    background-color: black;
    border: 1px solid rgb(50, 129, 219);
}
.btn > .btn2:hover{
    background-color: rgb(50, 129, 219);
    color: white;
    border: 1px solid rgb(50, 129, 219);
    transition: 0.5s ease all;
}


/* iphone air section */

.iphone-air{
    width: 100%;
    height: 70%;
    background-image: url(./assets/images/iphone/hero_iphone_air___large.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 30px;
}

.airchild{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.airchild > h1 , p{
    color: black;
    
}

.airchild > h1 , p , .bttn{
    margin-top: 20px;
}

.airchild > h1{
    font-size: 65px;
}
.airchild > p{
    font-size: 33px;
    text-align: center;
}

.bttn > button{
    background-color: rgb(50, 129, 219);
    color: white;
    padding: 10px 30px;
    border-radius: 25px;
    font-size: 30px;
    margin-left: 10px;
    border: none;
}

.bttn > .btn3{
    background-color: transparent;
    color: black;
    border: 1px solid rgb(50, 129, 219);
}
.bttn > .btn3:hover{
   background-color: rgb(50, 129, 219);
    color: white;
    border: 1px solid rgb(50, 129, 219);
    transition: 0.5s ease all;
}


/* ipad airpods section */

.ipad-airpods{
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 30px;
    justify-content: center;
    

}

.child1{
    width: 50%;
    height: 100%;
    background-image: url(./assets/images/airbirds/promo_airpodspro_large.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.child1 > h1{
    font-size: 60px;
}
.child1 > p{
    font-size: 30px;
    text-align: center;
    margin: 0px;
}

.cbtn > button{
    background-color: rgb(50, 129, 219);
    color: white;
     padding: 15px 25px;
    border-radius: 25px;
    font-size: 22px;
    margin-left: 10px;
    margin-top: 10px;
    border: none;
}

.cbtn > .cbttn{
    background-color: transparent;
    color: rgb(50, 129, 219);
    border: 1px solid rgb(50, 129, 219);
}
.cbtn > .cbttn:hover{
    background-color: rgb(50, 129, 219);
    color: white;
    border: 1px solid rgb(50, 129, 219);
    transition: 0.5s ease all;
}

.child2{
    width: 50%;
    height: 100%;
    background-image: url(./assets/images/ipad/promo_ipad_air_avail___large.jpg);
     background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 20px;
     display: flex;
    flex-direction: column;
    align-items: center;
}

.child2 > img{
    width: 300px;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.child2 > p{
    font-size: 30px;
    text-align: center;
    margin: 0px;
}

.cbtn > button{
    background-color: rgb(50, 129, 219);
    color: white;
     padding: 15px 25px;
    border-radius: 25px;
    font-size: 22px;
    margin-left: 10px;
    margin-top: 10px;
    border: none;
}

.cbtn > .cbttn{
    background-color: transparent;
    color: rgb(50, 129, 219);
    border: 1px solid rgb(50, 129, 219);
}
.cbtn > .cbttn:hover{
    background-color: rgb(50, 129, 219);
    color: white;
    border: 1px solid rgb(50, 129, 219);
    transition: 0.5s ease all;
}

/* ipad watch */

.ipad-watch{
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 30px;
    justify-content: center;
    

}

.wchild1{
    width: 50%;
    height: 100%;
    background-image: url(./assets/images/watches/promo_apple_watch_series_11_large.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wchild1 > img{
    margin-top: 50px;
    margin-bottom: 40px;
    width: 500px;
}
.wchild1 > p{
    font-size: 30px;
    text-align: center;
    margin: 0px;
}

.wbtn > button{
    background-color: rgb(50, 129, 219);
    color: white;
     padding: 15px 25px;
    border-radius: 25px;
    font-size: 22px;
    margin-left: 10px;
    margin-top: 10px;
    border: none;
}

.wbtn > .wbttn{
    background-color: transparent;
    color: rgb(50, 129, 219);
    border: 1px solid rgb(50, 129, 219);
}
.wbtn > .wbttn:hover{
    background-color: rgb(50, 129, 219);
    color: white;
    border: 1px solid rgb(50, 129, 219);
    transition: 0.5s ease all;
}

.wchild2{
    width: 50%;
    height: 100%;
    background-image: url(./assets/images/watches/promo_ipad___large.jpg);
     background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 20px;
     display: flex;
    flex-direction: column;
    align-items: center;
}

.wchild2 > h1{
    font-size: 60px;
    margin-top: 50px;

}
.wchild2 > p{
    font-size: 30px;
    text-align: center;
    margin: 0px;
}

.wbtn > button{
    background-color: rgb(50, 129, 219);
    color: white;
     padding: 15px 25px;
    border-radius: 25px;
    font-size: 22px;
    margin-left: 10px;
    margin-top: 10px;
    border: none;
}

.wbtn > .wbttn{
    background-color: transparent;
    color: rgb(50, 129, 219);
    border: 1px solid rgb(50, 129, 219);
}
.wbtn > .wbttn:hover{
    background-color: rgb(50, 129, 219);
    color: white;
    border: 1px solid rgb(50, 129, 219);
    transition: 0.5s ease all;
}

/* trade iphone */

.trade-iphone{
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 30px;
    justify-content: center;
    

}

.tchild1{
    width: 50%;
    height: 100%;
    background-image: url(./assets/images/iphone/promo_iphone_tradein___large.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tchild1 > img{
    margin-top: 50px;
    margin-bottom: 20px;
    width: 250px;
}
.tchild1 > p{
    font-size: 30px;
    text-align: center;
    margin: 0px;
}

.tbtn > button{
    background-color: rgb(50, 129, 219);
    color: white;
     padding: 15px 25px;
    border-radius: 25px;
    font-size: 22px;
    margin-left: 10px;
    margin-top: 10px;
    border: none;
}

.tbtn > .tbttn{
    background-color: transparent;
    color: rgb(50, 129, 219);
    border: 1px solid rgb(50, 129, 219);
}


.tchild2{
    width: 50%;
    height: 100%;
    background-image: url(./assets/images/iphone/promo_apple_card___large.jpg);
     background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 20px;
     display: flex;
    flex-direction: column;
    align-items: center;
}

.tchild2 > img{
   
    width: 200px;
    margin-top: 50px;
    margin-bottom: 40px;

}
.tchild2 > p{
    font-size: 30px;
    text-align: center;
    margin: 0px;
}

.tbtn > button{
    background-color: rgb(50, 129, 219);
    color: white;
     padding: 15px 25px;
    border-radius: 25px;
    font-size: 22px;
    margin-left: 10px;
    margin-top: 10px;
    border: none;
}

.tbtn > .tbttn{
    background-color: transparent;
    color: rgb(50, 129, 219);
    border: 1px solid rgb(50, 129, 219);
}
.tbtn > .tbttn:hover{
    background-color: rgb(50, 129, 219);
    color: white;
    border: 1px solid rgb(50, 129, 219);
    transition: 0.5s ease all;
}

/* footer section */

footer{
    width: 100%;
    margin-top: 50px;
    background-color: rgb(252, 248, 248);
}

footer > div{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer > div > p{
    text-align: justify;
    font-size: 25px;
    line-height: 1.5;
    color: #5f6368;
    padding: 0px;
}

.foot{
    display: flex;
    justify-content: space-around;
    width: 100%;
    
}

.foot > div > .link{
    display: flex;
    flex-direction: column;
    gap: 8px;
    
}

.dddd{
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: flex-start;
    
    padding-left: 75px;
    margin-top: 50px;
    /* background-color: #5f6368; */
}

.main{
    display: flex;
    width: 100%;
    
    /* justify-content: space-around; */
}

.main > .flink > span{
    font-size: 25px;
    text-align: center;
    padding-left: 70px;
    color: #5f6368;

}

.flink{
    
    width: 80%;
    display: flex;
    gap: 30px;
    align-items: center;
}

.clink{
    width: 20%;
}






